streamlit
openai
groq
fpdf
gtts
numpy
scipy
speechrecognition
sounddevice
pytesseract
pillow
python-pptx
PyPDF2
python-docx
feedparser
requests
beautifulsoup4
deep-translator
duckduckgo-search
pydub
youtube_transcript_api
langdetect
graphviz
pyttsx3==2.98
